<div class="container w-100">
    <div class="row mt-3">
      <span class="h4">Gestion de UsuarioAcceso</span>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-sm btn-success float-end" (click)="openModalItem('Crear', {})"><i class="bi bi-plus"></i> Nuevo</button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Usuario</th>
              <th scope="col">Password</th>
              <th scope="col">Correo</th>
              <th scope="col">FechaCreacion</th>
              <th scope="col">IDEstado</th>
              <th scope="col">IDRol</th>
              <th scope="col">IDEmpleado</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of usuarioAccesoLista; index as n;">
              <th scope="row">{{ n + 1 }}</th>
              <td>{{ item.usuario }}</td>
              <td>{{ item.password }}</td>
              <td>{{ item.correo }}</td>
              <td>{{ item.fechaDeCreacion }}</td>
              <td>{{ item.idEstado }}</td>
              <td>{{ item.idRol }}</td>
              <td>{{ item.idEmpleado }}</td>
              <td><button type="button" class="btn btn-sm btn-primary" (click)="openModalItem('Editar', item)"><i class="bi bi-pencil"></i></button></td>
              <td><button type="button" class="btn btn-sm btn-danger" (click)="openModalDelete(item)"><i class="bi bi-trash"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="modal fade" [id]="idModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <button [id]="idModal+ '-btn'" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#' + idModal" class="d-none"></button>
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ stateModal }} UsuarioAcceso</h1>
          <button [id]="idModal + '-btn-close'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="usuarioaccesoForm" (ngSubmit)="formAction()">
          <div class="modal-body">
            <div class="row g-3">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <label class="form-label fw-bolder">Usuario:</label>
                <input formControlName="usuario" type="text" class="form-control">
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <label class="form-label fw-bolder">Password:</label>
                <input formControlName="password" type="text" maxlength="8" class="form-control" >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <label class="form-label fw-bolder">Correo:</label>
                <input formControlName="correo" type="text" class="form-control">
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <label class="form-label fw-bolder">Fecha de creacion :</label>
                <input formControlName="fechaDeCreacion" type="datetime-local" class="form-control">
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <label class="form-label fw-bolder">idEstado:</label>
                <select formControlName="idEstado" class="form-select" aria-label="select">
                  <option value="" disabled selected>Seleccionar...</option>
                  <option *ngFor="let Estado of estadoLista; index as t;" [value]="Estado.idEstado">{{ Estado.decripcionEstado }}</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <label class="form-label fw-bolder">idRol:</label>
                <select formControlName="idRol" class="form-select" aria-label="select">
                  <option value="" disabled selected>Seleccionar...</option>
                  <option *ngFor="let Rol of rolLista; index as t;" [value]="Rol.idRol">{{ Rol.descripcion }}</option>
                </select>
              </div>  
              <div class="col-lg-4 col-md-6 col-sm-12">
                <label class="form-label fw-bolder">idEmpleado:</label>
                <select formControlName="idEmpleado" class="form-select" aria-label="select">
                  <option value="" disabled selected>Seleccionar...</option>
                  <option *ngFor="let Empleado of empleadoLista; index as t;" [value]="Empleado.idEmpleado">{{ Empleado.idEmpleado }}</option>
                </select>
              </div>                        
            </div>
            <div class="row mt-3">
              <div class="col">
                <div *ngIf="errorMessage !== ''" class="alert alert-danger alert-dismissible mb-0" role="alert">
                  <div class="me-auto">{{errorMessage}}</div>
                  <button type="button" class="btn-close" aria-label="Close" (click)="errorMessage = ''"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button *ngIf="stateModal === 'Editar'; else elseBtnModal" type="submit" class="btn btn-primary">Actualizar</button>
            <ng-template #elseBtnModal>
              <button type="submit" class="btn btn-success">Registrar</button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div [id]="idModal + '-delete'" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <button [id]="idModal + '-delete-btn'" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#' + idModal + '-delete'" class="d-none"></button>
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
          <button [id]="idModal + '-delete-btn-close'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Confirmar eliminacion de:
          <br>
          <span class="fw-bolder">{{usuarioaccesoToDelete.usuario}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="eliminarItem()">Elimnar</button>
        </div>
      </div>
    </div>
  </div>
