<div class="container w-100">
    <div class="row mt-3">
      <span class="h4">Gestion de TipoComprobante</span>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-sm btn-success float-end" (click)="openModalItem('Crear', {})"><i class="bi bi-plus"></i> Nuevo</button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">NombreTipoComprobante</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tipoComprobanteLista; index as n;">
              <th scope="row">{{ n + 1 }}</th>
              <td>{{ item.nombreTipoComprobante }}</td>              
              <td><button type="button" class="btn btn-sm btn-primary" (click)="openModalItem('Editar', item)"><i class="bi bi-pencil"></i></button></td>
              <td><button type="button" class="btn btn-sm btn-danger" (click)="openModalDelete(item)"><i class="bi bi-trash"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="modal fade" [id]="idModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <button [id]="idModal+ '-btn'" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#' + idModal" class="d-none"></button>
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ stateModal }} Cargo</h1>
          <button [id]="idModal + '-btn-close'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="tipocomprobanteForm" (ngSubmit)="formAction()">
          <div class="modal-body">
            <div class="row g-3">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <label class="form-label fw-bolder">NombreTipoComprobante</label>
                <input formControlName="nombreTipoComprobante" type="text" class="form-control">
              </div>                                 
            </div>
            <div class="row mt-3">
              <div class="col">
                <div *ngIf="errorMessage !== ''" class="alert alert-danger alert-dismissible mb-0" role="alert">
                  <div class="me-auto">{{errorMessage}}</div>
                  <button type="button" class="btn-close" aria-label="Close" (click)="errorMessage = ''"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button *ngIf="stateModal === 'Editar'; else elseBtnModal" type="submit" class="btn btn-primary">Actualizar</button>
            <ng-template #elseBtnModal>
              <button type="submit" class="btn btn-success">Registrar</button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div [id]="idModal + '-delete'" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <button [id]="idModal + '-delete-btn'" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#' + idModal + '-delete'" class="d-none"></button>
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
          <button [id]="idModal + '-delete-btn-close'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Confirmar eliminacion de:
          <br>
          <span class="fw-bolder">{{tipocomprobanteToDelete.nombreTipoComprobante}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="eliminarItem()">Elimnar</button>
        </div>
      </div>
    </div>
  </div>




