main {
  background: linear-gradient(90deg, #d9ed92ff, #b5e48cff, #99d98cff, #76c893ff, #52b69aff, #34a0a4ff, #168aadff, #1a759fff, #1e6091ff, #184e77ff);
}
.login-form {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2rem 1.5rem;
}
.btn-eye {
  background-color: transparent;
  color: var(--bs-blue);
}